@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h1{
    font-weight: 600;
    font-size: 1.5rem;
}

body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    display: fixed;
}

.wrapper{
    display: flex;
}

.main{
    margin: 0 0 0 8.5vh;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: rgb(255, 255, 255);
    @media (max-width: 480px) 
        {
          padding: 20px; /* Agregar padding para separar el contenido de los bordes */
          margin: 0 0 0 1.7vh;
        }
}    

#sidebar{
    width: 85px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #148483;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Altura de la viewport */

    @media (max-width: 480px)
        {
            width:50px;
            min-width: 60px;
            z-index: 1000;
            transition: all .25s ease-in-out;
            display: flex;
            flex-direction: column;
            background-color: #148483;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
        }
}

#sidebar.expandir{
    width: 200px;
    min-width: 200px;

    @media (max-width: 480px) 
        {
            width: 175px;
            min-width: 100px;
        }
}

#toggle-btn{
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1.2rem 1.5rem;

    @media (max-width: 480px)
        {
            background-color: transparent;
            cursor: pointer;
            border: 0;
            padding: 0.5rem 0.8rem;
        }
}

#toggle-btn i{
    font-size: 1.7rem;
    color: #fff;
}

.sidebar-logo{
    margin: auto 0;
}

.sidebar-logo a{
    color: #fff;
    font-size: 1.65rem;
    font-weight: 600;
    text-decoration: none;

    @media (max-width: 480px) 
        {
            color: #fff;
            font-size: 1.45rem;
            font-weight: 500;
            text-decoration: none;
        }
}

#sidebar:not(.expandir) .sidebar-logo,
#sidebar:not(.expandir) a.sidebar-link span{
    display: none;
}

.sidebar-nav{
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link{
    padding: .625rem 1.625rem;
    color: #fff;
    display: block;
    font-size: 1.3rem;
    white-space: nowrap;
    border-left: 0px solid transparent;
    text-decoration: none;

    @media (max-width: 480px)
        {
            padding: .625rem 1.2rem;
            color: #fff;
            display: block;
            font-size: 1.3rem;
            white-space: nowrap;
            border-left: 0px solid transparent;
            text-decoration: none;
        }
}

.sidebar-link i{
    font-size: 1.5rem;
    margin-right: .65rem;
    @media (max-width: 480px)
        {
            font-size: 1.2rem;
            margin-right: .65rem;
        }
    
}

a.sidebar-link:hover{
    background-color: rgba(255, 255, 255, .075);
    border-left: 7px solid #ffffff;
}

.sidebar-item{
    position: relative;
}

#sidebar:not(.expandir) .sidebar-item .sidebar-dropdown{
    position: absolute;
    top: 0;
    left: 60px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expandir) .sidebar-item:hover .has-dropdown+.sidebar-dropdown{
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expandir .sidebar-link [data-bs-toggle="collapse"]::after{
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all 0.1s ease-out;
}

#sidebar.expandir .sidebar-link[data-bs-toggle="collapse"].collapsed::after{
    transform: rotate(45deg);
    transition: all 0.1s ease-out;
}

aside{
    margin: 0;
}

.hero h1{
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    @media (max-width: 480px)
        {
            font-size: 1.8em;
            margin-left: 13%;
        }
}

@media (max-width: 480px) {

    .hero{
        background-image: 100px;
    }
}

.container-descarga{
    display: flex;
    justify-content: space-evenly;
    background-color: turquoise;
    padding: 60px;
    background: linear-gradient(rgba(0,0,0, 0.1), rgba(0,0,0,0.1) ), url(../img/descarga.jpg);
    color: #fff;
    width: 100%;
    color: rgb(255, 255, 255);
    min-height: 280px;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column; /*El eje vertical pasa a ser principal*/
    justify-content: center; /*Alineacion en eje principal (vertical)*/
    align-items: center; /*Alineacion en el eje secundario(horizontal)*/
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    @media (max-width: 480px) 
    {
        width: 100%;
        padding: 0;
        min-height: 20vh;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: -2.2vh 0 0 2.4vh;
        font-size: 1em;
    }
}

.container-descarga h2{
    font-size: 2.3em;
    @media (max-width: 480px) 
    {
        font-size: 1.5em;
    }
}

.container{
    color: rgb(14, 48, 56);
    padding-top: 1%;
    font-size: 1.15em;
    @media (max-width: 480px) 
        {
            font-size: 0.5em;
            text-align: justify; 
            justify-content: center;
            margin-top: -40px;
        }
}

.container h2{
    display: flex;
    justify-content: center;
    @media (max-width:480px) {
        margin: 0;
        
    }
}

@media (max-width: 480px) {

    .container h2{
        font-size: 1.26em;
    }
}

.container p{
    text-align: justify; 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: #004850;
    color: white;
    font-size: 1em;
    position: absolute;
    right: 0;
    left: 0;
}

footer img{
    width: 40px;

    @media (max-width: 480px) 
        {
            margin-left: 20px;
        }
}
.footerContainer{
    width: 100%;
    padding: 20px 20px 5px ;
}
.footerText{
    display: flex;
    justify-content: center;
    margin-left: 50px;

    @media (max-width: 480px)
        {
            font-size: 0.8em;
        }
}

.footerText h2{
    font-size: 1.4em;
}

.footerNav{
    margin: 10px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;

    @media (max-width: 480px) 
        {
            flex-direction: row;
            justify-content: space-around;
        } 
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

    @media (max-width: 480px)
        {
            width:45%;
            text-align: center;
            margin: 0px;
            padding: 0;
        }
    
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #002c36;
    padding: 10px;
    text-align: center;
}
.footerBottom p{
    color: white;
    margin-left: 50px;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    margin: 0px 5px;
}

.imgbody{
    width: 320px; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
    border-radius: 3%;
}

#mapa {
    position: relative;
    width: 65%;
    margin: 0 auto;
    
  }

#mapa h2{
        display: flex;
        justify-content: center;
}

  #frameMapa {
    position: relative;
    width: 100%;
    border: 3px solid teal;
    border-radius: 1px;
  }
  
  #myMap {
    width: 100%;
  }

@media (max-width: 480px) {

    h2 {
        margin-top: 0; /* Elimina cualquier margen superior */
        margin-bottom: 10px; /* Ajusta el margen inferior si es necesario */
    }
    
    .formulario {
        margin-top: 0; /* Ajusta el margen superior de la sección del formulario */
    }
    
    .formulario .form-control {
        margin-top: 0; /* Ajusta márgenes de los inputs si es necesario */
    }
    .formulario {
        padding: 30px;
        font-size: 1.8em;
        width: 100%;
        margin: 20px 0 0 0;
      }
    
      .formulario h2 {
        font-size: 1.6em;
        margin-bottom: 0;
      }
    
      .col-10,
      .offset-2 {
        padding: 0;
      }
    
      .form-group {
        margin-bottom: 10px;
      }
    
    #mapa 
    {
        position: relative;
        width: 70%;
        margin: 0 auto;
    }

    #mapa h2{
        font-size: 1.6em;
    }
}

@media (max-width: 480px) {
    .container {
        padding-left: 15px; /* Espacio a la izquierda */
        padding-right: 15px; /* Espacio a la derecha */
    }
    .container li {
        font-size: 1em; /* Tamaño de fuente */
        line-height: 1.6; /* Interlineado */
        margin-bottom: 12px; /* Espaciado inferior */
        padding-left: 20px; /* Indentación de la lista */
    }

    .row {
        margin-left: 0; /* Eliminar margen izquierdo */
        margin-right: 0; /* Eliminar margen derecho */
    }

    .col-sm-10 {
        margin-left: 5%; /* Añadir margen a la izquierda para centrar */
        margin-right: 5%; /* Añadir margen a la derecha para centrar */
        padding-left: 15px; /* Padding a la izquierda */
        padding-right: 15px; /* Padding a la derecha */
    }

    .col-sm-10.offset-sm-2.col-lg-9.offset-lg-0 {
        margin: 0; /* Elimina cualquier margen que esté afectando */
        padding: 0; /* Elimina padding si es necesario */
    }

    .col-sm-10.offset-sm-2.col-lg-9.offset-lg-0.order-md-2 {
        margin: 0 20px; /* Ajusta este valor según sea necesario */
        padding: 0; /* Elimina padding si es necesario */
    }
    
    .col-sm-12.col-lg-3.order-md-1 {
        margin: 0 20px; /* Ajusta este valor para el espaciado */
    }
    .col-sm-10.offset-sm-2.col-lg-12.offset-lg-0 {
        display: flex;
        flex-direction: column; /* Cambia a columna para que se alineen verticalmente */
        align-items: center; /* Centra horizontalmente */
    }
    
    .col-sm-10.offset-sm-2.col-lg-12.offset-lg-0 hr {
        width: 100%; /* Ajusta el ancho del hr según sea necesario */
        margin: 10px 0; /* Espaciado arriba y abajo */
    }

    .container p {
        font-size: 1.2em; /* Mantiene el tamaño del texto */
        line-height: 1.2; /* Reduce el espaciado entre líneas para apretar más */
        text-align: justify; /* Alinea el texto a la izquierda */
        margin-left: 0; /* Alinea el contenido */
        margin-bottom: 10pxx; /* Reduce el espacio entre elementos de lista */
    }
    
}
