@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h1{
    font-weight: 600;
    font-size: 1.5rem;
}

body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    display: fixed;
}

.wrapper{
    display: flex;
}

.main{
    margin: 0 0 0 8.5vh;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: rgb(255, 255, 255);
    @media (max-width: 480px) 
        {
          padding: 20px; /* Agregar padding para separar el contenido de los bordes */
          margin: 0 0 0 1.7vh;
        }
}    

#sidebar{
    width: 85px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #148483;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Altura de la viewport */

    @media (max-width: 480px)
        {
            width:50px;
            min-width: 60px;
            z-index: 1000;
            transition: all .25s ease-in-out;
            display: flex;
            flex-direction: column;
            background-color: #148483;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
        }
}

#sidebar.expandir{
    width: 225px;
    min-width: 200px;

    @media (max-width: 480px) 
        {
            width: 200px;
            min-width: 100px;
        }
}

#toggle-btn{
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1.2rem 1.5rem;

    @media (max-width: 480px)
        {
            background-color: transparent;
            cursor: pointer;
            border: 0;
            padding: 0.5rem 0.8rem;
        }
}

#toggle-btn i{
    font-size: 1.7rem;
    color: #fff;
}

.sidebar-logo{
    margin: auto 0;
}

.sidebar-logo a{
    color: #fff;
    font-size: 1.65rem;
    font-weight: 600;
    text-decoration: none;

    @media (max-width: 480px) 
        {
            color: #fff;
            font-size: 1.45rem;
            font-weight: 500;
            text-decoration: none;
        }
}

#sidebar:not(.expandir) .sidebar-logo,
#sidebar:not(.expandir) a.sidebar-link span{
    display: none;
}

.sidebar-nav{
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link{
    padding: .625rem 1.625rem;
    color: #fff;
    display: block;
    font-size: 1.3rem;
    white-space: nowrap;
    border-left: 0px solid transparent;
    text-decoration: none;

    @media (max-width: 480px)
        {
            padding: .625rem 1.2rem;
            color: #fff;
            display: block;
            font-size: 1.3rem;
            white-space: nowrap;
            border-left: 0px solid transparent;
            text-decoration: none;
        }
}

.sidebar-link i{
    font-size: 1.5rem;
    margin-right: .65rem;
    @media (max-width: 480px)
        {
            font-size: 1.2rem;
            margin-right: .65rem;
        }
    
}

a.sidebar-link:hover{
    background-color: rgba(255, 255, 255, .075);
    border-left: 7px solid #ffffff;
}

.sidebar-item{
    position: relative;
}

#sidebar:not(.expandir) .sidebar-item .sidebar-dropdown{
    position: absolute;
    top: 0;
    left: 60px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expandir) .sidebar-item:hover .has-dropdown+.sidebar-dropdown{
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expandir .sidebar-link [data-bs-toggle="collapse"]::after{
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all 0.1s ease-out;
}

#sidebar.expandir .sidebar-link[data-bs-toggle="collapse"].collapsed::after{
    transform: rotate(45deg);
    transition: all 0.1s ease-out;
}

aside{
    margin: 0;
}

.hero h1{
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    @media (max-width: 480px)
        {
            font-size: 1.8em;
            margin-left: 13%;
        }
}

@media (max-width: 480px) {

    .hero{
        background-image: 100px;
    }
}

.container-descarga{
    display: flex;
    justify-content: space-evenly;
    background-color: turquoise;
    padding: 60px;
    background: linear-gradient(rgba(0,0,0, 0.1), rgba(0,0,0,0.1) ), url(../img/descarga.jpg);
    color: #fff;
    width: 100%;
    color: rgb(255, 255, 255);
    min-height: 280px;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column; /*El eje vertical pasa a ser principal*/
    justify-content: center; /*Alineacion en eje principal (vertical)*/
    align-items: center; /*Alineacion en el eje secundario(horizontal)*/
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    @media (max-width: 480px) 
    {
        width: 100%;
        padding: 0;
        min-height: 20vh;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: -2.2vh 0 0 2.4vh;
        font-size: 1em;
    }
}

.container-descarga h2{
    font-size: 2.3em;
    @media (max-width: 480px) 
    {
        font-size: 1.6em;
    }
}

.container{
    color: rgb(14, 48, 56);
    padding-top: 1%;
    @media (max-width: 480px) 
        {
            font-size: 0.7em;
        }
}


@media (max-width: 480px) {

    .container h2{
        font-size: 1.6em;
        margin-left: 15px;
    }
}

.container p{
    text-align: justify; 
    font-size: 1.3em;
    @media (max-width: 480px){
        margin-left: 15px;
    }
}
hr{
    margin: 0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: #004850;
    color: white;
    font-size: 1em;
    position: absolute;
    right: 0;
    left: 0;
}

footer img{
    width: 40px;

    @media (max-width: 480px) 
        {
            margin-left: 20px;
        }
}
.footerContainer{
    width: 100%;
    padding: 20px 20px 5px ;
}
.footerText{
    display: flex;
    justify-content: center;
    margin-left: 50px;

    @media (max-width: 480px)
        {
            font-size: 0.8em;
        }
}

.footerText h2{
    font-size: 1.4em;
}

.footerNav{
    margin: 10px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;

    @media (max-width: 480px) 
        {
            flex-direction: row;
            justify-content: space-around;
        } 
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

    @media (max-width: 480px)
        {
            width:45%;
            text-align: center;
            margin: 0px;
            padding: 0;
        }
    
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #002c36;
    padding: 10px;
    text-align: center;
}
.footerBottom p{
    color: white;
    margin-left: 50px;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    margin: 0px 5px;
}

.imgbody{
    width: 300px; 
    max-width: 100%; /* Asegúrate de que la imagen no se desborde */
    height: auto; /* Mantiene la proporción de la imagen */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
    border-radius: 3%;

    @media (max-width: 480px)
        {
            width: 300px;
        }
}

@media (max-width: 480px) {
    #carouselExampleCaptions{
        width: 100%;
        position: relative;
        margin-left: 2.2vh;
    }
}
.card{
    text-align: start;
    padding: 5px;
    box-shadow: 0px 3px 5px rgb(43, 43, 43);
}

.cards{
        color: rgb(14, 48, 56);
        padding: 5%;
        margin-top: -150px;
        @media (max-width: 480px) 
            {
                font-size: 0.7em;
                justify-content: center;
                margin-top: -25%;
                margin-left: 40px;
            }
}

.card-body{
    font-size: 0.8em;
    font-weight: 400;
    border: 0.5px solid teal;
    line-height: 20px;
    box-shadow: 100px black;

    @media (max-width: 480px)
    {
        font-size: 2em;
    }
}

.card-img-top{
    width: 200px;
    height: 150px;
    object-fit: cover;
}

@media (max-width: 480px) {
    .container {
        padding-left: 15px; /* Espacio a la izquierda */
        padding-right: 15px; /* Espacio a la derecha */
    }

    .row {
        margin-left: 0; /* Eliminar margen izquierdo */
        margin-right: 0; /* Eliminar margen derecho */
    }

    .col-sm-10 {
        margin: 0 20px;
        padding: 0;
    }

    .col-sm-10.offset-sm-2.col-lg-12.offset-lg-0 {
        margin: 0 20px; /* Elimina cualquier margen que esté afectando */
        padding: 0; /* Elimina padding si es necesario */
    }
    

    .col-sm-10.offset-sm-2.col-lg-9.offset-lg-0.order-md-1 {
        margin: 0 20px; /* Ajusta este valor según sea necesario */
        padding: 0; /* Elimina padding si es necesario */
    }
    
    .col-sm-12.col-lg-2.order-md-2{
        margin: 0 20px;
    }

    .col-sm-12.col-lg-3.order-md-2 img{
        width: 200px;
    }

    .col-sm-10.offset-sm-2.col-lg-12.offset-lg-0 hr {
        width: 100%; /* Ajusta el ancho del hr según sea necesario */
        margin: 10px 0; /* Espaciado arriba y abajo */
    }

    .container p {
        font-size: 1.2em; /* Mantiene el tamaño del texto */
        line-height: 1.2; /* Reduce el espaciado entre líneas para apretar más */
        text-align: justify; /* Alinea el texto a la izquierda */
        margin-left: 0; /* Alinea el contenido */
        margin-bottom: 10pxx; /* Reduce el espacio entre elementos de lista */
    }
}

@media (min-width: 481px) and (max-width: 900px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    thead th, tbody td {
        font-size: 0.6em;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .col-sm-10.offset-sm-2.col-lg-12.offset-lg-0 {
        margin: 0 45px;
        padding: 0;
    }

    .col-sm-10.offset-sm-2.col-lg-9.offset-lg-0.order-md-1 {
        margin: 0 45px;
        padding: 0;
    }

    .col-sm-12.col-lg-3.order-md-2 {
        margin: 0 140px;
    }

    .col-sm-12.col-lg-3.order-md-2 img {
        width: 300px;
    }

    .container p {
        font-size: 1.2em;
        line-height: 1.2;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .card {
        width: 60%; /* Ajusta el ancho de la tarjeta */
        padding: 20px; /* Ajusta el padding */
        margin-bottom: 20px; /* Ajusta el margen inferior */
        margin-left: 75px;
    }

    .cards {
        font-size: 0.9em; /* Ajusta el tamaño de la fuente */
        justify-content: center;
        margin-top: -10%; /* Ajusta el margen superior */
        margin-left: 20px; /* Ajusta el margen izquierdo */
    }

    .card-body {
        font-size: 1.2em; /* Ajusta el tamaño de la fuente */
    }

    .card-img-top {
        width: 180px; /* Ajusta el ancho de la imagen */
        height: 130px; /* Ajusta la altura de la imagen */
    }
}


